@media(max-width: 600px){
    p{
        font-size: 60px;
    }
}
.box{
    width: 100%;
    height: 100px;
    background-color: red;
}
@media(min-width: 600px){
    .box{
        background-color: blue;
    }
}

li{
list-style-type: none;
}
nav{
    background-color: black;
    color: white;
    padding: 10px;
}