    /* h1 {
        color: green;
    }
    p {
        color: blue;
        text align : center;
    }
    #aj {
        font-weight: bold;
    }
    div{
        height: 200px;
        width: 200px;
        background-color: red;
        text align: center;
        align content : center;
        margin: 100px;
        border: 2px solid red;
        padding: 10px;
        
    }

    .jk {
        display: flex;
    } */
.container {
    display: flex;
    height: 100px;
    width: 100px; ;
    background-color: aqua;
    border: 1px solid black;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}
.item {
    background-color: coral;
    height: 100px;
    width: 200px;
    text-align: center;
    align-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: flex-end;
}
