h1 {
    color: green;
}
p {
    color: blue;
    text align : center;
}
#aj {
    font-weight: bold;
}
div{
    height: 200px;
    width: 200px;
    background-color: red;
    text align: center;
    align content : center;
    margin: 100px;
    border: 2px solid red;
    padding: 10px;
    
}

.jk {
    display: flex;
}
