    /* h1 {
        color: green;
    }
    p {
        color: blue;
        text align : center;
    }
    #aj {
        font-weight: bold;
    }
    div{
        height: 200px;
        width: 200px;
        background-color: red;
        text align: center;
        align content : center;
        margin: 100px;
        border: 2px solid red;
        padding: 10px;
        
    }

    .jk {
        display: flex;
    } */
/* .container {
    display: flex;
    height: 100px;
    width: 100px; ;
    background-color: aqua;
    border: 1px solid black;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}
.item {
    background-color: coral;
    height: 100px;
    width: 200px;
    text-align: center;
    align-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: flex-end;
} */
/* .grid-container{
    display: grid;
    height: 500px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr); */
    /* grid-template-areas: "header header header header"
                         "main main . sidebar"
                         "footer footer footer footer"; */
    /* column-gap: 10px;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    grid-auto-columns: 60px;
}

.grid-item{
    background-color: coral;
    border: 1px solid black;
    height: 100px;
    width: 100px;
    text-align: center;
    align-content: center;
    grid-area: auto;
}  */ */
